@using PurpleBricksTejas.Models;
@using PurpleBricksTejas;
@model PurpleBoardLeaseModel
@{
    ViewBag.Title = "BoardPriceEstimator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <br />
    <h2>Price Estimator</h2>    
    <form id="formBoardPrice" action="">
        <div id="divError" style="display:none;" class="maxFormWidth"></div>
        <br/>
        <table id="tblBoardEstimateDetails" class="table" style="max-width:500px;">
            <tr>
                <td class="control-label">
                    @Html.LabelFor(x => x.BoardSize, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.DropDownListFor(x => x.BoardSize, new SelectList(Constants.LoadBoardSize(), "Value", "Text",
                                Model.BoardSize), "--Select Board Size--"
                                , new { @class = "form-control maxInputWidth", @id = "ddlBoardSize" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.Property.State, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.DropDownListFor(x => x.BoardSize, new SelectList(Constants.LoadState(), "Value", "Text",
                                Model.Property.State), "--Select State--"
                                , new { @class = "form-control maxInputWidth", @id = "ddlState" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.FromDate, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.TextBoxFor(x => x.FromDate, htmlAttributes: new
                    {
                        @class = "form-control maxInputWidth date-pick",
                        @id = "txtFromDate",
                        @placeholder = "Select From Date"
                    })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.ToDate, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.TextBoxFor(x => x.ToDate, htmlAttributes: new
                    {
                        @class = "form-control maxInputWidth date-pick",
                        @id = "txtToDate",
                        @placeholder = "Select To Date"
                    })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a href="javascript:;" class="btn btn-primary" onclick="return submitBoardDetails();" title="Submit">
                        Submit
                    </a>
                    <a href="javascript:;" class="btn btn-secondary" onclick="return clearAll();" title="Submit">
                        Clear
                    </a>
                </td>
            </tr>
            <tr class="trCostEstimate table-success" style="display : none">
                <td>
                    Price: 
                </td>
                <td>
                    $<span id="spPricePerDay"></span> * <span id="spDaysOrder"></span>   (No of days)
                </td>
            </tr>            
            <tr class="trCostEstimate table-success" style="display : none">
                <td>
                    Discount: 
                </td>
                <td>
                    <span id="spDiscount"></span>%
                </td>
            </tr>
            <tr class="trCostEstimate table-success" style="display : none">
                <td>
                    Total Cost:
                </td>
                <td>
                    $<span id="spCost"></span>
                </td>
            </tr>
        </table>

    </form>
</div>
@section Scripts {
<script type="text/javascript" src="~/Scripts/BoardPriceEstimator.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $.datepicker.setDefaults({
            dateFormat: 'dd/mm/yy'
        });       
        $('.date-pick').datepicker({           
        });
    });

    // This is used for AJAX call by passing all selected parameters
    function submitBoardDetails() {

    if (validateDetails()) {
        var data = this;
        data.boardSize = $('#ddlBoardSize').val();
        data.propertyState = $('#ddlState').val();
        data.fromDate = $('#txtFromDate').val();
        data.toDate = $('#txtToDate').val();

        var paramData = {
            boardSize: data.boardSize,
            propertyState: data.propertyState,
            fromDate: data.fromDate,
            toDate: data.toDate
        }

        $.ajax({
            url: '@Url.Action("GetBoardPrice", "PurpleBoard")',
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: paramData,
            success: function (response) {
                var result = JSON.parse(response);

                $('.trCostEstimate').show();
                $('#spPricePerDay').text(result.PricePerDay);
                $('#spDaysOrder').text(result.DaysOrder);
                $('#spDiscount').text(result.Discount);
                $('#spCost').text(result.Cost);

                $('#divError').hide();
            }
        });
    }
}

</script>
}