@using PurpleBricksTejas.Models;
@model PurpleBoardLeaseModel
@{
    ViewBag.Title = "BoardPriceEstimator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <br />
    <h2>Price Estimator</h2>
    <br />
    <form id="formBoardPrice" action="">
        <table id="tblBoardEstimateDetails" class="table" style="max-width:500px;">
            <tr>
                <td class="control-label">Board Size</td>
                <td>
                    @Html.DropDownListFor(x => x.BoardSize, new SelectList(Model.LoadBoardSize(), "Value", "Text",
                                            Model.BoardSize), "--Select Board Size--"
                                            , new { @class = "form-control", @id = "ddlBoardSize", @style = "max-width:300px;" })
                </td>
            </tr>
            <tr>
                <td>Property State:</td>
                <td>
                    @Html.DropDownListFor(x => x.BoardSize, new SelectList(Model.LoadState(), "Value", "Text",
                                            Model.Property.State), "--Select State--"
                                            , new { @class = "form-control", @id = "ddlState", @style = "max-width:300px;" })
                </td>
            </tr>
            <tr>
                <td>Date From:</td>
                <td>
                    @Html.TextBoxFor(x => x.FromDate, htmlAttributes: new
                    {
                        @class = "form-control date-pick",
                        @id = "txtFromDate",
                        @style = "max-width:300px;",
                        @placeholder = "Select From Date"
                    })
                </td>
            </tr>
            <tr>
                <td>Date To:</td>
                <td>
                    @Html.TextBoxFor(x => x.ToDate, htmlAttributes: new
                   {
                        @class = "form-control date-pick",
                        @id = "txtToDate",
                        @style = "max-width:300px;",
                        @placeholder = "Select To Date"
                   })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a href="javascript:;" class="btn btn-primary" onclick="return submitBoardDetails();" title="Submit">
                        Submit </a>
                    <a href="javascript:;" class="btn btn-secondary" onclick="return clearAll();" title="Submit">
                        Clear </a>
                </td>
            </tr>
            <tr id="trCost" class="table-success" style="display : none">
                <td>Cost:</td>
                <td>
                    $ <span id="spCost"></span>
                </td>
            </tr>
        </table>

    </form>
</div>
@section Scripts {
<script type="text/javascript">

    $(document).ready(function () {

        $.datepicker.setDefaults({
            dateFormat: 'dd-mm-yy'
        });

        $('.date-pick').datepicker({
            format: 'dd-mm-yy'            
        });

    });

    function submitBoardDetails() {

        var data = this;
        data.boardSize = $('#ddlBoardSize').val();
        data.propertyState = $('#ddlState').val();
        data.fromDate = $('#txtFromDate').val();
        data.toDate = $('#txtToDate').val();

        var paramData = {
            boardSize: data.boardSize,
            propertyState: data.propertyState,
            fromDate: data.fromDate,
            toDate: data.toDate
        }

        $.ajax({
            url: '@Url.Action("GetBoardPrice", "PurpleBoard")',
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: paramData,
            success: function (response) {
                var result = JSON.parse(response);

                $('#trCost').show();
                $('#spCost').text(result.Cost);

                //if (g.isTaxInclusive)
                //    $("#isTaxInclusive").prop("checked", "checked");
                //else
                    //$("#isTaxInclusive").removeAttr("checked");
            }
        });
    }

    function clearAll() {
        $('#ddlBoardSize').val('');
        $('#ddlState').val('');
        $('#txtFromDate').val('');
        $('#txtToDate').val('');

        $('#trCost').hide();
    }

</script>
}